*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  display: flex;
  place-content: center;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  width: 1140px;
  gap: 30px;
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  justify-items: end;
  align-items: end;
  align-content: center;
}

.result {
  width: 711px;
  grid-area: result;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 18px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  width: 711px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

fieldset {
  border: none;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__label {
  width: fit-content;
  display: flex;
  padding: 2px;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__textfield):hover {
  text-decoration: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  padding: 0.5px;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__textfield {
  width: 225px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  cursor: text;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  gap: 15px;
  display: flex;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 1.5px 5px 1.5px 0;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  width: 15px;
  height: 15px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.search-form__checkbox:focus {
  outline: none;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
  flex-shrink: 0;
}

.content__details {
  width: 100%;
  height: 100%;
  grid-area: details;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  color: #fff;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
}

.content__list {
  gap: 30px;
  display: grid;
}

.content__list-item {
  width: 390px;
  height: 103px;
  box-sizing: border-box;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 0;
}

.content__video-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 6px;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  height: 34px;
  margin-top: 30px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Кастомный скроллбар */
.content__list-container::-webkit-scrollbar {
  width: 4px;
}

.content__list-container::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.content__list-container::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}